#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --cleanup --zap --file=/dev/stdin <<EOF
{{ range .darwin_packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .darwin_packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .darwin_packages.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .darwin_packages.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ range .darwin_packages.uv -}}
uv {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
