#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
{{   if (or (eq .chezmoi.osRelease.id "archarm") (eq .chezmoi.osRelease.id "arch")) }}
paru -S --noconfirm --needed - <<EOF
{{ range .packages.arch -}}
{{ . }}
{{ end -}}
EOF

comm -23 \
  <(pacman -Qqe | sort) \
  <(sort <<'DESIRED'
{{ range .packages.arch -}}
{{ . }}
{{ end -}}
DESIRED
) | xargs -r paru -Rns --noconfirm
{{ end -}}
{{ end -}}
